<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div><!--
    <div class="card" style="background-color:grey; border-color:white;">
  <img class="card-img-top" src="holder.js/100x180/" alt="">
  <div class="card-body">
    <h4 class="card-title">live happily</h4>
    <p class="card-text">Life is good</p>
  </div>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">inner beauty</h4>
    
</div>-->

  <img src="views\WhatsApp Image 2022-02-08 at 12.36.22 AM.jpeg" style=" float:left; min-width: 500px; max-width: 500px; padding-left: 10%; margin-left: 2%; padding-right: 3%">
        <p style="color:firebrick; font-size: 20px;">
        <p >Myself Monika Kumari, basically from Haryana<br>
         state in India which is a diversed nation,<br> Currently, I am pursuing Post Graduation Diploma in AI <br>from "Centennial College"<br> located in Scarborough,Toronto<br>
          I love to travel and read sci-fi novels.<br> Right now I am exploring new programming languages and fields <br> of Artificial Intelligence.<br><a href="https://drive.google.com/file/d/1UQ7zPpGwcE-24TqEk-pdv_iHBNCyTfnh/view?usp=drivesdk">Resume</a>
         </p>
  <p style="padding-bottom: 4%;  color:firebrick; font-size: 20px;"></p>
  
  
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
