<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
    <div class="card" style="background-color:grey; border-color:white;">
  <img class="card-img-top" src="holder.js/100x180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Monika Kumari</h4>
    <p class="card-text">Let's build something amazing together</p>
  </div>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Chase Dreams Not People</h4>
    
    
</div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %> 